* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 330px;
    width: 260px;
    border: 1px solid white;
    background-color: white;
    border-radius: 9px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

#storiyan {
    height: 85px;
    width: 100%;
    /* background-color: aqua; */
    border-bottom: 1px solid #dadada;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 7px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar {
    display: none;
}

.stories {
    height: 70px;
    width: 70px;
    /* background-color: antiquewhite; */
    border: 2px solid red;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.stories img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full_screen{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
}